PORT=5000
CLIENT_ORIGIN=http://localhost:3000
ADMIN_EMAIL=nolove.vanlav@mail.ru

# Настройка настоящей отправки писем через Mail.ru
# ВАЖНО: SMTP_PASS это НЕ обычный пароль от почты.
# Нужно создать пароль внешнего приложения в настройках Mail.ru.
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=nolove.vanlav@mail.ru
SMTP_PASS=ВСТАВЬ_СЮДА_ПАРОЛЬ_ВНЕШНЕГО_ПРИЛОЖЕНИЯ
MAIL_FROM=VSKturn <nolove.vanlav@mail.ru>
